.snippet-body {
	margin: 0;
	border-radius: 0;
	border: 1px solid gray;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.08);
	min-height: 200px;
}

.snippet-body .linenumber {
	min-width: 3em;
	padding-right: 1em;
	text-align: right;
	color: #888;
	user-select: none;
}
